In [12]:
import pandas as pd

In [16]:
happiness19 = "Resources/happiness19.csv"

In [18]:
happiness_df = pd.read_csv(happiness19, encoding="ISO-8859-1")

In [19]:
happiness_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [28]:
internet_data= "Resources/internet.csv"

In [30]:
internet_df=pd.read_csv(internet_data, header=None, sep='/n')
internet_df=internet_df[0].str.split(',', expand=True)

C:\Users\mason\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [31]:
internet_df.head()

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,66
0,"ï»¿""Data Source""","""World Development Indicators""",,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,"""Last Updated Date""","""2020-12-16""",,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,"""Country Name""","""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2013""","""2014""","""2015""","""2016""","""2017""","""2018""","""2019""","""2020""",,None
3,"""Aruba""","""ABW""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""78.9""","""83.78""","""88.6612""","""93.5425""","""97.17""","""97.17""","""97.17""","""""",,None
4,"""Afghanistan""","""AFG""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""5.9""","""7""","""8.26""","""11.2""","""13.5""","""13.5""","""13.5""","""""",,None