In [42]:
import pandas as pd

In [43]:
happiness2018 = "Resources/happiness2018.csv"

In [44]:
happiness_df = pd.read_csv(happiness2018, encoding="ISO-8859-1")

In [58]:
happiness_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [62]:
happiness_df2=happiness_df.rename(columns={'Country or region' : 'Country or region'})

In [46]:
internet_data= "Resources/internet18.csv"

In [47]:
internet_df=pd.read_csv(internet_data, encoding="ISO-8859-1")

In [48]:
internet_df.head()

  Country or Area Internet Users     Population  Rank Percentage Rank.1
0           China    765,367,947  1,409,517,397     1     54.30%    116
1           India    461,347,554  1,339,180,127     2     34.45%    145
2   United States    244,090,854    324,459,463     3     75.23%     68
3          Brazil    141,206,801    209,288,278     4     67.47%     83
4           Japan    115,845,120    127,484,450     5     90.87%     23

In [61]:
internet_df2=internet_df.rename(columns = {'Country or Area' : 'Country or region'})

In [63]:
final_df=happiness_df2.merge(internet_df2, on='Country or region')

In [65]:
final_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Internet Users,Population,Rank,Percentage,Rank.1
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,"4,831,170","5,523,231",83,87.47%,29
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,"5,120,225","5,305,383",81,96.51%,11
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,"5,567,278","5,733,551",79,97.10%,9
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,"329,196","335,025",164,98.26%,3
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,"7,942,864","8,476,005",57,93.71%,19

In [67]:
final_df.to_csv('merged.tsv', sep='\t')